@model Backend.Models.ApplicationUser

@{
    ViewData["Title"] = "Reset Password";
}

<h1>Reset Password</h1>

<h4>@Model.Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">New Password</label>
                <input type="password" name="newPassword" class="form-control" required />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Reset Password" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Users">Back to List</a>
</div>
