@model Backend.Models.Comment

@{
    ViewData["Title"] = "تعديل التعليق";
}

<h1>تعديل التعليق</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="EditComment" asp-route-id="@Model.Id">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Content" class="control-label">التعليق</label>
                <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="حفظ" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model?.TicketId" class="btn btn-secondary">إلغاء</a>
                <a href="javascript:history.back()" class="btn btn-secondary">رجوع</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
