name: Build iOS IPA
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: |
          cd MobileAppDev/app
          flutter pub get

      - name: Build iOS
        run: |
          cd MobileAppDev/app
          flutter build ios --release --no-codesign

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: ios-app-bundle
          path: MobileAppDev/app/build/ios/iphoneos/*.app
